{% extends 'rests/base.html' %}
{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-offset-2 col-lg-offset-2 col-md-8 col-lg-8">
        <div class="card">
        <div class="card-img-top">
          <div class="image" style="background-image: url({{ rest.image }});"></div>
        </div>
        <div class="card-block">
          <h4 class="card-title text-center">{{ rest.name }}</h4>
          <p class="card-text text-center">
            <ul class="list-group">
              <li class="list-group-item">
              <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"> </span>
                {{ rest.phone_number }}
              </li>
              <li class="list-group-item">
              <span class="glyphicon glyphicon-star" aria-hidden="true"> </span>
                {{ rest.rating }}
              </li>
              <li class="list-group-item">
              <span class="glyphicon glyphicon-usd" aria-hidden="true"> </span>
                {{ rest.price }}
              </li>
              <li class="list-group-item">
              <span class="glyphicon glyphicon-pushpin" aria-hidden="true"> </span>
                {{ rest.address }}
              </li>
            </ul>
          </p>
        </div>
        </div>
      </div>

    </div>
  </div>
  {% endblock %}
